extends layout

block content
  h1 I'm Swallower
  p Who are you?
  ul#users
  div
    div#recommend(style="display: none")
    ul#menu(style="display: none")

  script(src="javascripts/utils.js")
  script(src="javascripts/main.js")
  script.
    var loginView, menuView,
        users = !{JSON.stringify(users)}, 
        restaurants = !{JSON.stringify(restaurants)};
    loginView = new Swallower.views.Login(users);
    loginView.render();
    menuView = new Swallower.views.Menu(restaurants[0]);
    