doctype 5
html
  head
    title Swallower
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.0.2.min.js')
    script(src='/javascripts/jquery.color-2.1.2.min.js')
  body
    block content