cell_width = 260px
cell_height = 72px

body
  padding: 20px 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
a
  color: #00B7FF
ul
  list-style-type: none
  margin: 0
  padding: 0

#users
  zoom: 1
  overflow: hidden
  position: relative

#users li
  width: cell_width
  height: cell_height
  line-height: cell_height
  margin: 4px
  float: left
  cursor: pointer
  position: relative
  
#users li>*
  position: absolute

#users li .name
  top: 0
  left: 0
  font-size: 18px
  margin-left: 32px

#users li .details
  top: 0
  right: 0
  margin-right: 32px
  opacity: 0

#users li .details em
  margin-top: 12px
  display: block
  font-weight: bold
  font-style: normal
  font-size: 24px
  line-height: 32px

#users li .details span
  display: block
  font-size: 12px
  line-height: 12px

#recommend
  width: 48%
  float: left

#menu
  width: 48%
  float: right

#menu .category
  // background: #eee;

#menu .category h3
  font-size: 18px
  padding: 8px 16px
  margin: 4px
  color: #333

#menu .dishes
  zoom: 1
  overflow: hidden

#menu .dish
  zoom: 1
  overflow: hidden
  cursor: pointer
  color: #666
  font-size: 14px
  padding: 8px 16px
  margin: 4px

#menu .dish em
  font-style: normal
  display: block
  float: left

#menu .dish span
  display: block
  float: right
  
